<div class="flex justify-content-between">
    <h3>Pesquisa de Cidades</h3>
    <a pButton label="Cadastrar" styleClass="p-button-sm" class="p-button-sm" icon="pi pi-plus mr-2"
    routerLink="/cadastrar/cidades"></a>
</div>
<div class="card shadow-3 mt-4 mb-4 p-0">
    <p-table [value]="cidadeArray" [responsive]="true" [rows]="5" [paginator]="true" class="w-100">
            <ng-template pTemplate="header">
                <tr>
                  <th>ID</th>
                  <th>Descrição</th>
                  <th>UF</th>
                  <th class="col-acoes-header"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cidade>
                <tr>
                    <td [style]="{'text-align':'center'}">
                      <span class="p-column-title">ID</span>
                      {{ cidade.id }}
                    </td>
                    <td [style]="{'width': '800px'}">
                      <span class="p-column-title">Descrição</span>
                      {{ cidade.descricao}}
                    </td>
                    <td [style]="{'width': '800px'}">
                        <span class="p-column-title">UF</span>
                        {{ cidade.uf}}
                      </td>
                    <td class="col-acoes p-1 justify-content-between">
                      <a pButton pRipple type="button" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                      styleClass="p-button-sm" class="p-button-raised p-button-info p-button-text"
                      [routerLink]="['/cidades', cidade.id]"></a>
                      <button pButton pRipple icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                      styleClass="p-button-sm" class="p-button-raised p-button-danger p-button-text"
                      ></button>
                    </td>
                  </tr>
            </ng-template>
        <ng-template  pTemplate="emptymessage">
              <tr>
                <td colspan="3">
                  <span>Nenhum registro encontrado</span>
                </td>
              </tr>
        </ng-template>
         <ng-template pTemplate="summary">
              <div class="">
                  Totalizador: 3
              </div>
         </ng-template>
    </p-table>
</div>


