<div class="card">
    <div class="flex mb-2 gap-2 justify-content-end">
    <p-button (click)="activeIndex = 0"  styleClass="w-2rem h-2rem p-0" [outlined]="activeIndex !== 0" label="1"></p-button>
    <p-button (click)="activeIndex = 1"  styleClass="w-2rem h-2rem p-0" [outlined]="activeIndex !== 1" label="2"></p-button>
    <p-button (click)="activeIndex = 2"  styleClass="w-2rem h-2rem p-0" [outlined]="activeIndex !== 2" label="3"></p-button>
    <p-button (click)="activeIndex = 3"  styleClass="w-2rem h-2rem p-0" [outlined]="activeIndex !== 3" label="4"></p-button>
    </div>
    <p-tabView [(activeIndex)]="activeIndex">
    <p-tabPanel header="Dados Iniciais">
        <div class="formgrid grid">
            <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <input type="text" pInputText class="w-full">
                    <label for="float-input" class="obrigatorio">Nome</label>
                </span>
            </div>
            <div class="field col-12 md:col-2 p-3">
                <span class="p-float-label">
                    <input disabled type="text" pInputText class="w-full">
                    <label for="float-input" class="obrigatorio">Código</label>
                </span>
            </div>
           
            <div class="field col-12 md:col-2 p-3">
                <span class="p-float-label">
                    <p-inputMask mask="999.999.999-99" class="w-full"></p-inputMask>
                    <label for="float-input" class="obrigatorio">CPF</label>
                </span>
            </div>
           
            <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <p-dropdown [options]="gestores"[(ngModel)]="selectedGestor" optionLabel="name" 
                    [showClear]="true" placeholder="Selecione uma das opções"></p-dropdown>
                    <label for="float-input" class="obrigatorio">Gerenciado por</label>
                </span>
            </div>
            <div class="field col-12 md:col-2 p-3">
                <span class="p-float-label">
                    <p-inputMask mask="99.999.999-9" class="w-full"></p-inputMask>
                    <label for="float-input" class="obrigatorio">RG</label>
                </span>
            </div>
            <div class="field col-12 md:col-2 p-3">
                <span class="p-float-label">
                    <p-inputMask mask="99/99/9999" class="w-full"></p-inputMask>
                    <label for="float-input" class="obrigatorio">Nascimento</label>
                </span>
            </div>
            <div class="field col-12 md:col-2 p-3">
                <span class="p-float-label">
                    <input type="text" pInputText class="w-full">
                    <label for="float-input" class="obrigatorio">Profissão</label>
                </span>
            </div>
            <div class="field col-12 md:col-2 p-3">
                <span class="p-float-label">
                    <input type="text" pInputText class="w-full">
                    <label for="float-input" class="obrigatorio">Natural</label>
                </span>
            </div>
            <div class="field col-12 md:col-2 p-3">
                <span class="p-float-label">
                    <p-dropdown [options]="naturalidades"[(ngModel)]="selectedNaturalidade" optionLabel="name" 
                    [showClear]="true" placeholder="Selecione uma das opções"></p-dropdown>
                    <label for="float-input" class="obrigatorio">Nacionalidade</label>
                </span>
            </div>
            <div class="card flex justify-content-center gap-3 field col-12 md:col-11 p-3">
                <div class="flex align-items-center">
                    <p-checkbox label="Sexo Feminino" name="feminino" value="feminino" [(ngModel)]="options"></p-checkbox>
                </div>
                <div class="flex align-items-center">
                    <p-checkbox label="Pessoa Jurídica" name="juridica" value="juridica" [(ngModel)]="options2"></p-checkbox>
                </div>
                <div class="flex align-items-center">
                    <p-checkbox label="Confidencial" name="confidencial" value="confidencial" [(ngModel)]="options"></p-checkbox>
                </div>
                <div class="flex align-items-center">
                    <p-checkbox label="Inativo" name="inativo" value="inativo" [(ngModel)]="options"></p-checkbox>
                </div>
            </div>
            <p-fieldset class="w-full">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2 px-2">
                        <span class="font-bold">Honorários</span>
                    </div>
                </ng-template>
                <div class="formgrid grid">
                    <div class="field col-12 md:col-6 p-3">
                        <span class="p-float-label">
                            <input type="text" pInputText class="w-full">
                            <label for="float-input" class="obrigatorio">Administ %</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-6 p-3">
                        <span class="p-float-label">
                            <input type="text" pInputText class="w-full">
                            <label for="float-input" class="obrigatorio">Venda %</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-6 p-3">
                        <span class="p-float-label">
                            <input type="text" pInputText class="w-full">
                            <label for="float-input" class="obrigatorio">Primeiro Aluguel %</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-6 p-3">
                        <span class="p-float-label">
                            <input type="text" pInputText class="w-full">
                            <label for="float-input" class="obrigatorio">Repasse Dias</label>
                        </span>
                    </div>
                </div>
            </p-fieldset>
            <p-divider type="solid"><p >Para prosseguir complete os dados abaixo, lembrese de preencher corretamente todos os dados complementares que são obrigátorios.</p></p-divider>
            <p-fieldset>
                
                <ng-template pTemplate="header" class="w-full" [style]="{'margin-top': '110px'}">
                    <div class="flex align-items-center gap-2 px-2">
                        <span class="font-bold">Dados complementares</span>
                    </div>
                </ng-template>
                
                <div class="formgrid grid">
                    <div class="field col-12 md:col-4 p-3">
                        <span class="p-float-label">
                            <input type="text" pInputText class="w-full">
                            <label for="float-input" class="obrigatorio">Endereço</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4 p-3">
                        <span class="p-float-label">
                            <input type="text" pInputText class="w-full">
                            <label for="float-input" class="obrigatorio">CEP</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2 p-3">
                        <span class="p-float-label">
                            <input type="text" pInputText class="w-full">
                            <label for="float-input" class="obrigatorio">N°</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4 p-3">
                        <span class="p-float-label">
                            <input type="text" pInputText class="w-full">
                            <label for="float-input" class="obrigatorio">Complemento</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4 p-3">
                        <span class="p-float-label">
                            <input type="text" pInputText class="w-full">
                            <label for="float-input" class="obrigatorio">Bairro</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2 p-3">
                        <span class="p-float-label">
                            <p-dropdown class="w-full" [options]="gestores"[(ngModel)]="selectedGestor" optionLabel="name" 
                            [showClear]="true" placeholder="Selecione uma das opções"></p-dropdown>
                            <label for="float-input" class="obrigatorio">UF</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4 p-3">
                        <span class="p-float-label">
                            <p-dropdown [options]="gestores"[(ngModel)]="selectedGestor" optionLabel="name" 
                            [showClear]="true" placeholder="Selecione uma das opções"></p-dropdown>
                            <label for="float-input" class="obrigatorio">Cidade</label>
                        </span>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Contas bancárias">
        <p>
            Contas bancárias works
        </p>
    </p-tabPanel>
    <p-tabPanel header="Cônjuge">
        <p>
            Cônjuge-works
        </p>
    </p-tabPanel>
    <p-tabPanel header="Histórico">
        <p>
            Histórico-works
        </p>
    </p-tabPanel>

    </p-tabView>
</div>