.container {
    height: 100px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-left {
    height: 100px;
    width: 98%;
    margin: 0 auto;
    display: flex;
    align-items: first baseline;
    justify-content: left;
}

.p-info-align-center {
    text-align: center;
    line-height: 100px;
}

.p-info-align-left {
    text-align: left;
    line-height: 100px;
}