<p-tabView styleClass="tabview-custom">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <span>Cadastro de Usuário</span>
    </ng-template>

    <div class="formgrid grid" [formGroup]="userform" (ngSubmit)="onClickRegisterUser()">
      <div class="field col-12 md:col-4 p-3">
        <span class="p-float-label">
          <input id="float-input-username" type="text" size="30" pInputText formControlName="name"
          placeholder="nome" required class="w-full">
          <label for="float-input" class="obrigatorio">Nome</label>
        </span>
      </div>

      <div class="field col-12 md:col-2 p-3">
        <p-calendar formControlName="birthDate" placeholder="Birth date" [showIcon]=true></p-calendar>
      </div>

      <div class="field col-12 md:col-2 p-3" *ngIf="userform.controls['birthDate'].errors && userform.controls['birthDate'].dirty">
        <p-message severity="error" text="Aniversário é um campo obrigatorio"
          *ngIf="userform.controls['birthDate'].errors['required']"></p-message>
        <p-message severity="error" text="Minimo 18 anos de idade."
          *ngIf="userform.controls['birthDate'].errors['invalidBirthDate']"></p-message>
      </div>

      <div class="field col-12 md:col-6 p-3" *ngIf="userform.controls['name'].errors && userform.controls['name'].dirty">
        <p-message severity="error" text="Nome é um campo obrigatorio"
          *ngIf="userform.controls['name'].errors['required']"></p-message>
      </div>

      <div class="field col-12 md:col-4 p-3" >
        <span class="p-float-label">
          <input id="float-input-password" type="password" size="30" pInputText formControlName="password"
                  placeholder="senha" required>
          <label for="float-input" class="obrigatorio">Senha</label>
        </span>
      </div>

      <div class="field col-12 md:col-6 p-3" *ngIf="userform.controls['password'].errors && userform.controls['password'].dirty">
        <p-message severity="error" text="Senha é um campo obrigatorio"
          *ngIf="userform.controls['password'].errors['required']"></p-message>
        <p-message severity="error" text="Minimo 6 caracters para a senha."
          *ngIf="userform.controls['password'].errors['minlength'] "></p-message>
      </div>

      <div class="field col-12 md:col-3 p-3">
        <span class="p-float-label">
          <input id="float-input-emailid" type="email" size="30" pInputText formControlName="emailId"
                  placeholder="Email Id" required>
          <label for="float-input" class="obrigatorio">E-mail</label>
        </span>
      </div>

      <div class="p-col-12" *ngIf="userform.controls['emailId'].errors && userform.controls['emailId'].dirty">
        <p-message severity="error" text="Email é um campo obrigratorio"
          *ngIf="userform.controls['emailId'].errors['required']"></p-message>
        <p-message severity="error" text="Email is invalid" *ngIf="userform.controls['emailId'].errors['email']">
        </p-message>
      </div>

      <div class="field col-12 md:col-12 p-3">
          <button pButton type="button" label="Registrar novo Usuário" class="ui-button-raised" [disabled]="!userform.valid"
            (click)="onClickRegisterUser()"></button>
      </div>
        
      <div class="field col-12 md:col-12 p-3">
          <button pButton type="button" label="Login" class="ui-button-raised"
            (click)="onClickGoToLogin()"></button>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>